.apk
.ap_


.dex

.class

bin/
gen/

local.properties

Thumbs.db

.DS_Store

.iml

.idea/
.gradle/
/build/
.navigation
captures/
output.json

obj/
.externalNativeBuild

.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/datasources.xml
.iead/dataSources.ids
